---
title: "Who We Are"
nav_order: 1
layout: false
---
{% extends "page.njk" %}

{# Pull who-we-are content from the MDX content-include file #}
{% set whoWeAreContent = null %}
{% for item in collections.contentIncludes %}
  {% if item.data.contentFor == "who-we-are" %}
    {% set whoWeAreContent = item.content %}
  {% endif %}
{% endfor %}

{# Set sidebar with images #}
{% set sidebar %}
<div class="sidebar-block">
  <img src="{%- imgPath '/assets/media/team-dinner.jpeg', 'f_auto,q_auto:good,w_400' -%}" alt="Team Dinner while on shift" class="sidebar__image" loading="lazy">
</div>
<div class="sidebar-block">
  <img src="{%- imgPath '/assets/media/family-break-time.jpg', 'f_auto,q_auto:good,w_400' -%}" alt="Break Time" class="sidebar__image" loading="lazy">
</div>
<div class="sidebar-block">
  <img src="{%- imgPath '/assets/media/Vols-2-edited-1-scaled.jpg', 'f_auto,q_auto:good,w_400' -%}" alt="Wildland Fire Drill" class="sidebar__image" loading="lazy">
</div>
{% endset %}

{% block main_content %}
{{ whoWeAreContent | processStyledImages | safe }}

<div style="clear: both;"></div>
{% endblock %}
