---
title: "Who We Are"
nav_order: 1
layout: false
---
{% extends "page.njk" %}

{# Pull who-we-are content from the MDX content-include file #}
{% set whoWeAreContent = null %}
{% for item in collections.contentIncludes %}
  {% if item.data.contentFor == "who-we-are" %}
    {% set whoWeAreContent = item.content %}
  {% endif %}
{% endfor %}

{% block main_content_single %}
{{ whoWeAreContent | processStyledImages | safe }}

<div style="clear: both;"></div>
{% endblock %}
