{% set pageTitle = (configs.site_name if page.url === '/' else title + ' | ' + configs.site_name) | safe %}
{% set pageDsc = (description or configs.site_desc) | safe %}
<!DOCTYPE html>
<html lang="en">
<head>
  {# preload font? #}
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>{{ pageTitle }}</title>
  {# meta-desc #}
    <meta name="description" content="{{ pageDsc }}" />
  {# icon tags #}
    <link rel="icon" type="image/png" href="{{ 'https://res.cloudinary.com/san-juan-fire-district-3/image/fetch/f_auto/' + site.rootUrl if helpers.env === 'production' }}/assets/sjifire-logo-clear.png" />
  {# og #}
    <meta property="og:url" content="{{ site.prodUrl + page.url}}"" key="ogurl" />
    <!-- <meta property="og:image" content={previewImage} key="ogimage" /> -->
    <meta property="og:site_name" content="{{configs.site_name}}" key="ogsitename" />
    <meta property="og:title" content="{{pageTitle}}" key="ogtitle" />
    <meta property="og:description" content="{{ pageDsc }}" key="ogdesc" />
    <link rel="preconnect" href="//www.google-analytics.com" />
    <link rel="preconnect" href="//www.googleapis.com" />
    <link rel="preconnect" href="//www.gstatic.com" />
    <link rel="preconnect" href="//www.googletagmanager.com" />
    <link rel="preconnect" href="//www.clarity.ms/ "/>
  {%- set css -%}
    {% include "site.css" %}
  {%- endset -%}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>
<body>

  {% include "svg-sprite.svg" %}

  <header class="site-header" role="banner">
    {% include "header.njk" %}
  </header>

  <header class="page-header">
    <div class="rap">
      <article class="page-header__copy">
        {% block page_header %}{% endblock %}
      </article>
    </div>
  </header>

  {% include "page_hero.njk" %}

  <main class="site-main" role="main">
    <div class="rap">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </div>
  </main>

  <footer class="site-footer" role="contentinfo">
    <div class="rap">
      {% include "footer.njk" %}
    </div>
  </footer>

  <script>
    const toggleButton = document.getElementsByClassName('toggle-button')[0]
    const navbarLinks = document.getElementsByClassName('navbar-links')[0]

    toggleButton.addEventListener('click', () => {
      navbarLinks.classList.toggle('active')
    })
  </script>
  {% block script %}{% endblock %}
</body>
</html></html>
