{% set pageTitle = (site.site_name if page.url === '/' else title + ' | ' + site.site_name) | safe %}
{% set pageDsc = (description or site.site_desc) | safe %}
<!DOCTYPE html>
<html lang="en">
<head>
  {# preload font? #}
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>{{ pageTitle }}</title>
  {# meta-desc #}
    <meta name="description" content="{{ pageDsc }}" />
  {# icon tags #}
    <link rel="icon" type="image/png" href="{{ site.cloudinaryRootUrl + '/image/fetch/f_auto/' + site.rootUrl if helpers.env === 'production' }}/assets/sjifire-logo-clear.png" />
  {# og #}
    <meta property="og:url" content="{{ site.prodUrl + page.url}}" key="ogurl" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="
      {%- if page.fileSlug === 'news-article' %}
        {{- site.cloudinaryRootUrl + '/image/fetch/f_auto,q_auto:good,c_fill,w_1200,h_630/' + site.rootUrl if helpers.env === 'production' }}/assets/images/{{ post.featured_image.source -}}
      {% else %}
        {{- site.cloudinaryRootUrl + '/image/fetch/f_auto,q_auto:good,c_fill,w_1200,h_630/' + site.rootUrl if helpers.env === 'production' }}/assets/images/{{ site.opengraph_image -}}
      {% endif -%}
    " key="ogimage" />
    <meta property="og:site_name" content="{{site.site_name}}" key="ogsitename" />
    <meta property="og:title" content="{{pageTitle}}" key="ogtitle" />
    <meta property="og:description" content="{{ pageDsc }}" key="ogdesc" />
    <link rel="preconnect" href="//www.google-analytics.com" />
    <link rel="preconnect" href="//www.googleapis.com" />
    <link rel="preconnect" href="//www.gstatic.com" />
    <link rel="preconnect" href="//www.googletagmanager.com" />
    <link rel="preconnect" href="//www.clarity.ms/ "/>
  {%- set css -%}
    {% include "site.css" %}
  {%- endset -%}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>
<body>

  {% include "svg-sprite.svg" %}

  <header class="site-header{{ ' site-header--home' if page.url === '/'}}" role="banner">
    {% include "header.njk" %}
  </header>

  {% if page.fileSlug === 'news-article' %}
    <figure class="featured__media">
      <img src="{{ site.cloudinaryRootUrl + '/image/fetch/f_auto,q_auto:good,c_limit,w_900,h_500/' + site.rootUrl if helpers.env === 'production' }}/assets/images/{{ post.featured_image.source }}" alt="{{ post.featured_image.alt }}" width="{{ post.featured_image.width }}" height="{{ post.featured_image.height }}" loading="eager">
    </figure>
  {% endif %}

  <main class="site-main{{ ' site-main--overlap' if page.url === '/' }}" role="main">
    <div class="rap">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </div>
  </main>

  <footer class="site-footer" role="contentinfo">
    <div class="rap">
      {% include "footer.njk" %}
    </div>
  </footer>

  {% include "nav-js.njk" %}
  {% block script %}{% endblock %}
</body>
</html>
