<table class="widget widget--burn-status">
  <caption class="widget__header">
    <div class="flex">
      <svg><use xlink:href='#flame' /></svg>
      <div>
        <h4>
          Fire Safety
        </h4>
      </div>
    </div>
  </caption>
  <tbody class="widget__body">
    <tr class="odd">
      <td>
        Fire Danger
      </td>
      <td class="level level--{{configs.fire_status | slugify}}">
        {{ configs.fire_status }}
      </td>
    </tr>
    <tr class="even">
      <td>
        Recreational Fires
      </td>
      <td class="level level--{{configs.rec_campfire_status | slugify}}">
        {{ configs.rec_campfire_status }}
      </td>
    </tr>
    <tr class="odd">
      <td>
        Residential Burn Piles
      </td>
      <td class="level level--{{configs.burn_ban_status | slugify}}">
        {{ configs.burn_ban_status }}
      </td>
    </tr>
    <tr class="even">
      <td>
        Commercial Burns
      </td>
      <td class="level level--{{configs.commercial_burn_ban_status | slugify}}">
        {{ configs.commercial_burn_ban_status }}
      </td>
    </tr>
  </tbody>
</table>
