<table class="widget widget--station-stats">
  <caption class="widget__header">
    <div class="flex">
      <svg><use xlink:href='#stats' /></svg>
      <div>
        <h4>
          SJIF&R Statistics
        </h4>
        <time class="" pubdate="">
          Last 30 days
        </time>
      </div>
    </div>
  </caption>
  <tbody class="widget__body">
    {% set cls = cycler("odd", "even") %}
    <tr class="{{ cls.next() }}">
      <td>
        Calls
      </td>
      <td>
        {{ stats.incident_stats.num_incidents }}
      </td>
    </tr>
    <tr class="{{ cls.next() }}">
      <td>
        Calls
        <aside>Last 365 Days</aside>
      </td>
      <td>
        {{ stats.incident_stats.num_incidents_last_365_days | formatNumber }}
      </td>
    </tr>
    <tr class="{{ cls.next() }}">
      <td>
        Reaction Time
        <aside>Seconds</aside>
      </td>
      <td>
        {{ stats.unit_time_stats.first_unit_reaction.median }}
      </td>
    </tr>
    <tr class="{{ cls.next() }}">
      <td rowspan=3>
        Travel Time
        <aside>Minutes</aside>
      </td>
      <td>
        {{ (stats.region_stats.north.unit_travel_time.median/60) | round(1) }}
        <aside>North</aside>
      </td>
    </tr>
    <tr>
      <td>
        {{ (stats.region_stats.south.unit_travel_time.median/60) | round(1) }}
        <aside>South</aside>
      </td>
    </tr>
    <tr>
      <td>
        {{ (stats.region_stats.central.unit_travel_time.median/60) | round(1) }}
        <aside>Central</aside>
      </td>
    </tr>
    <tr class="{{ cls.next() }}">
      <td>
        Responder Time on Calls
        <aside>Minutes</aside>
      </td>
      <td>
        {{ (stats.personnel_stats.time_on_incidents.sum/60) | round | formatNumber }}
      </td>
    </tr>
    <tr class="{{ cls.next() }}">
      <td>
        Unique Responders
      </td>
      <td>
        {{ stats.personnel_stats.num_unique_responders }}
      </td>
    </tr>
  </tbody>
</table>
