{% extends 'base.njk' %}

{% block content %}
  <div class="l-squeezed block-content">
    <h1>
      {{ title | safe }}
    </h1>
    {% if preamble %}
      <div class="lede">
        {{ preamble | markdownify | safe }}
      </div>
    {% endif %}
    {{ content | markdownify | processStyledImages | safe }}
  </div>
{% endblock %}
