<p>&copy; {{ helpers.buildTime | yearOnlyJS }} {{ configs.site_name | safe }}</p>
<div>
    <small><a href="/disclaimer/">Disclaimer</a> | <a href="https://www.office.com/?auth=2"> Member Login</a></small>
</div>
