{% extends 'base.njk' %}

{% block content %}
  {% set nextMeeting = meeting_schedule | nextMeetingDate(next_meeting_override) %}

  <div class="l-grid l-grid--2col">
    <div class="l-grid__main block-content">
      <h1>{{ title | safe }}</h1>
      {{ content | markdownify | processStyledImages | safe }}
    </div>

    <aside class="l-grid__sidebar">
      <div class="sidebar-block">
        <h3>Next Board Meeting</h3>
        <p>
          <strong>{{ nextMeeting.formatted }}</strong><br>
          {{ nextMeeting.time }}
        </p>
        {% if nextMeeting.isOverride and nextMeeting.note %}
          <p><em>{{ nextMeeting.note }}</em></p>
        {% endif %}
        <p>
          {{ meeting_location.name }}<br>
          {{ meeting_location.street }}<br>
          {{ meeting_location.city }}, {{ meeting_location.state }} {{ meeting_location.zip }}
        </p>
      </div>

      <hr>

      <div class="sidebar-block">
        <h3>Meeting Documents</h3>
        <p>Agendas, minutes, and board materials are available online.</p>
        <p><a href="#">View Documents</a></p>
      </div>

      <hr>

      <div class="sidebar-block">
        <h3>Contact the Board</h3>
        <p>Questions or comments for the Board of Fire Commissioners can be submitted via our <a href="/contact/">contact form</a>.</p>
      </div>

      <hr>

      <div class="sidebar-block">
        <h3>District Service Area</h3>
        <p>SJIF&R provides emergency response to all of San Juan Island, including the Town of Friday Harbor, as well as Brown, Henry, Johns, Pearl, Spieden, and Stuart Islands.</p>
        <p><img src="/assets/media/district_map.png" alt="District Map"></p>
      </div>
    </aside>
  </div>
{% endblock %}
