<aside class="site-header__911">
  <span>Emergency? Call <em>911</em></span>
</aside>

<nav class="rap">
  <ul class="menu">
    <li class="logo">
      <a href="/"><img src="{% imgPath '/assets/sjifire-logo-clear.png' %}" width="320" height="317" alt="San Juan Island Fire and Rescue Logo"></a>
    </li>
    {% for item in nav %}
      {% if item.children and item.children.length > 0 %}
        <li class="item has-submenu{{ ' active' if page.url.includes('/' + item.folder + '/') }}">
          <a tabindex="0">{{ item.label }}</a>
          <ul class="submenu">
            {% for child in item.children %}
              <li class="subitem"><a href="{{ child.url }}">{{ child.nav_title or child.label }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% elif item.url %}
        <li class="item{{ ' active' if page.url.includes(item.url) }}">
          <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="toggle">
      <a href="#"><svg><use xlink:href='#menu' /></svg></a>
    </li>
  </ul>
</nav>

{% if page.url === '/' or page.fileSlug === 'news-article' %}
  <header class="page-header page-header--{{ 'home' if page.url === '/' else 'news' }}">
    <div class="rap">
      <article class="l-squeezed">
          <h1>
            {{ title | safe if page.url === '/' else post.title | safe }}
          </h1>
          {% if page.fileSlug === 'news-article' %}
            <time datetime="{{ post.date | htmlDateStringISO }}" pubdate="pubdate">
              {{ post.date | postDateVerboseISO }}
            </time>
          {% endif %}
          <div class="lede">
            {{ (preamble if page.url === '/' else post.lede) | markdownify | safe }}
          </div>
      </article>
    </div>
  </header>
{% endif %}
