<aside>
  In case of emergency, call 911
</aside>
<nav>
  <a href="/">Home</a> • <a href="/about/">About</a> • <a href="/governance/">Governance</a> • <a href="/service/">Service</a> • <a href="/contact/">Contact</a>
</nav>