
{% if page.fileSlug === 'news-article' and post.featured_image != "" %}
  <section class="page-hero">
    <div class="rap">
      <figure class="featured__media">
        <img src="{{ 'https://res.cloudinary.com/san-juan-fire-district-3/image/fetch/f_auto,q_auto:good,c_limit,w_900,h_500/' + site.rootUrl if helpers.env === 'production' }}/assets/images/{{ post.featured_image.source }}" alt="{{ post.featured_image.alt }}" width="{{ post.featured_image.width }}" height="{{ post.featured_image.height }}" loading="eager">
      </figure>
    </div>
  </section>
{% endif %}
