{%- switch post.post_type %}
  {%- case 'News' -%}
    <svg><use xlink:href='#news' /></svg>
  {%- case 'Advisory' -%}
    <svg><use xlink:href='#alert' /></svg>
  {%- case 'Announcement' -%}
    <svg><use xlink:href='#warning' /></svg>
  {%- case 'Response Moment' -%}
    <svg><use xlink:href='#rescue' /></svg>
{% endswitch -%}