{% for section in baseSections %}
  {% if section.type === 'text' %}
    <div class="post__copy">
      {{ section.copy | markdownify | safe }}
    </div>
  {% elif section.type === 'image' %}
    <figure class="post__media">
      <img src="{{ 'https://res.cloudinary.com/san-juan-fire-district-3/image/fetch/f_auto,q_auto:good,c_limit,w_1200,h_800/' + site.rootUrl if helpers.env === 'production' }}/assets/images/{{ section.source }}" alt="{{ section.alt }}" {{ 'width=' + section.width if section.width}} {{ 'height=' + section.height if section.height}} loading="lazy">
      {% if section.caption %}
        <figcaption>
          {{ section.caption }}
        </figcaption>
      {% endif %}
    </figure>
  {% elif section.type === 'youtube' %}
    {% set video_id = section.source.split('/').pop() %}
    <figure class="post__media">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe title="{{ section.caption }} youtube" src="https://www.youtube.com/embed/{{ video_id }}" loading="lazy"></iframe>
      </div>
      {% if section.caption %}
        <figcaption>
          {{ section.caption }}
        </figcaption>
      {% endif %}
    </figure>
  {% elif section.type === 'gmap' %}
    <figure class="post__media">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe title="{{ section.caption }} google map" src="{{ section.source }}" loading="lazy"></iframe>
      </div>
      {% if section.caption %}
        <figcaption>
          {{ section.caption }}
        </figcaption>
      {% endif %}
    </figure>
  {% endif %}
{% endfor %}
