body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

.site-header {
  margin-bottom: 4rem;
}

.site-footer {
  margin-top: 4rem;
}

.rap {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 576px) {
    .rap {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
      max-width: 540px; } }
  @media screen and (min-width: 768px) {
    .rap {
      max-width: 720px; } }
  @media screen and (min-width: 992px) {
    .rap {
      max-width: 960px; } }
  @media screen and (min-width: 1200px) {
    .rap {
      max-width: 1110px; } 
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;            /* 3 */
}

.rap img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.rap figure {
  margin: 0;
}
