---
title: "Page Not Found (404 Error)"
permalink: "/404.html"
---

{% extends 'base.njk' %}

{% block page_header %}
  <h1>
    {{ title | safe }}
  </h1>
  <div class="lede">
    We apologize for the inconvenience.
  </div>
{% endblock %}

{% block content %}
  {% set baseSections = error_404.sections %}
  {% include "sections_block.njk" %}
{% endblock %}
