---
title: "Page Not Found (404 Error)"
permalink: "/404.html"
layout: base
---
<div class="l-squeezed block-content">
  <h1>{{ title }}</h1>
  <p>We apologize for the inconvenience.</p>
  <p><a href="/">Return to the homepage</a></p>
</div>
