---
title: "About"
permalink: "/about/index.html"
---

{% extends 'base.njk' %}

{% block page_header %}
  <h1>
    {{ title | safe }}
  </h1>
  <div class="lede">
    <p>
      {{ about.preamble | markdownify | safe }}
    </p>
  </div>
{% endblock %}

{% block content %}
  {% set baseSections = about.sections %}
  {% include "sections_block.njk" %}
{% endblock %}
