---
title: "About"
layout: base.njk
permalink: "/about/index.html"
---

<h1>
  {{ title }}
</h1>
{{ about.preamble | markdownify | safe }}

<hr>

<h1>
  Advisories & News
</h1>

<ol>
  {% for post in collections.posts | reverse %}
    <li style="margin-bottom:1.5rem;">
      <a href="/blog/{{ post.data.date | htmlDateString }}-{{ post.data.title | slugify }}/">
          {{ post.data.title }}
      </a>
      &nbsp;•&nbsp;
      <time datetime="{{ post.data.date }}" pubdate="pubdate">
        {{ post.data.date | postDateTerse }}
      </time>
      <p style="margin:0.35rem 0 0;">
        {{ post.data.lede }}
      </p>
    </li>
  {% endfor %}
</ol>
