---
title: "Key Information"
permalink: "/about/key-information/index.html"
---

{% extends 'base.njk' %}

{% block page_header %}
  <h1>
    {{ title | safe }}
  </h1>
  {% if key_information.preamble %}
    <div class="lede">
      {{ key_information.preamble | markdownify | safe }}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% set baseSections = key_information.sections %}
  {% include "sections_block.njk" %}
{% endblock %}
