---
title: "Burn Regulations & Permits"
permalink: "/services/burn-permits/index.html"
---

{% extends 'base.njk' %}

{% block content %}
  <h1>
    {{ title | safe }}
  </h1>
  {% if burn_permits.preamble %}
    <div class="lede">
      {{ burn_permits.preamble | markdownify | safe }}
    </div>
  {% endif %}
  {{ burn_permits.body | markdownify | safe }}
{% endblock %}
