---
title: "Burn Regulations & Permits"
permalink: "/services/burn-permits/index.html"
---

{% set pageData = burn_permits %}

{% block sidebar_content %}
  {% include "burn-status-widget.njk" %}
  <h4 class="sidebar__heading">Residential Burn Permit</h4>
  <a class="btn btn-secondary" href="https://www.sanjuanco.com/1161/Apply-for-Burn-Permits">
    Purchase <svg><use xlink:href="#right-arrow"></svg>
  </a>
  <h4 class="sidebar__heading">Commercial Burn Inspection</h4>
  <a class="btn btn-secondary" href="https://www.sanjuanco.com/FormCenter/Fire-Marshal-12/Request-an-Inspection-55">
    Schedule <svg><use xlink:href="#right-arrow"></svg>
  </a>
{% endblock %}
{% extends "default_two_col_page.njk" %}
