---
title: "Burn Regulations & Permits"
permalink: "/services/burn-permits/index.html"
---

{% extends 'base.njk' %}

{% block content %}
  <div class="l-grid l-grid--2col">
    <div class="l-grid__main block-content">
      <h1>
        {{ title | safe }}
      </h1>
      {% if burn_permits.preamble %}
        <div class="lede">
          {{ burn_permits.preamble | markdownify | safe }}
        </div>
      {% endif %}
      {{ burn_permits.body | markdownify | safe }}
    </div>
    <aside class="l-grid__sidebar block-content">
      <p>
        <a href="https://www.sanjuanco.com/1161/Apply-for-Burn-Permits">Purchase Residential Burn Permit</a>
      </p>
      <p>
        <a href="https://www.sanjuanco.com/FormCenter/Fire-Marshal-12/Request-an-Inspection-55">Schedule Commercial Burn Inspection</a>
      </p>
      {% include "burn-status-widget.njk" %}
    </aside>
  </div>
{% endblock %}
