---
title: "Burn Regulations & Permits"
permalink: "/services/burn-permits.html"
---

{% extends 'base.njk' %}

{% block page_header %}
  <h1>
    {{ title | safe }}
  </h1>
  <div class="lede">
    {{ burn_permits.preamble | markdownify | safe }}
  </div>
{% endblock %}

{% block content %}
  {% set baseSections = burn_permits.sections %}
  {% include "sections_block.njk" %}
{% endblock %}
