---
title: "Contact Us"
permalink: "/contact/index.html"
---

{% extends 'base.njk' %}

{% block page_header %}
  <h1>
    {{ title | safe }}
  </h1>
  <div class="lede">
    <p>
      San Juan County Fire District 3 is located at:
    </p>
    <address>
      {{ site.address.street }}<br>
      {{ site.address.city }}, {{ site.address.state }} {{ site.address.zip }}
    </address>
  </div>
{% endblock %}

{% if post.featured %}
  {% block page_hero %}
    <div class="embed-responsive embed-responsive-21by9">
      <iframe src="{{ site.address.map }}" loading="lazy"></iframe>
    </div>
  {% endblock %}
{% endif %}

{% block content %}
  <article class="post__body">
    {{ contact.preamble | markdownify | safe }}
    <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" action="/thank-you/">
      <p class="sr-only">
        <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
      </p>
      <div style="margin-top:1.5rem;">
        <label for="name">
          Name
        </label><br>
        <input id="name" type="text" name="name" required><br><br>
        <label for="email">
          Email Address
        </label><br>
        <input id="email" type="email" name="email-address" required><br><br>
        <label for="message" required>
          Message
        </label><br>
        <textarea id="message" name="message" rows="5" required></textarea><br><br>
      </div>
      <div style="margin-top:1.5rem;">
        <button type="submit">
          Send
        </button>
      </div>
    </form>
  </article>
{% endblock %}
