---
title: "Contact Us"
permalink: "/contact/index.html"
---

{% extends 'base.njk' %}

{% block page_header %}
  <h1>
    {{ title | safe }}
  </h1>
  <div class="lede">
    <p>
      San Juan County Fire District 3 is located at:
    </p>
    <address>
      {{ site.address.street }}<br>
      {{ site.address.city }}, {{ site.address.state }} {{ site.address.zip }}
    </address>
  </div>
{% endblock %}

{% block content %}
  <div class="post__copy">
    {{ contact.preamble | markdownify | safe }}
    <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" action="/thank-you/">
      <p class="sr-only">
        <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
      </p>
      <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" name="name" class="form-control" required>
        <label for="email" style="margin-top:1.5rem;">
          Email Address
        </label>
        <input id="email" type="email" name="email-address" class="form-control" required>
        <label for="message" required style="margin-top:1.5rem;">
          Message
        </label>
        <textarea id="message" name="message" rows="5" class="form-control" required></textarea>
        <input type="text" name="subject" value="[Website] Contact form submission" class="hidden">
      </div>
      <div style="margin-top:1.5rem;">
        <button type="submit" class="btn btn-primary">
          Send
        </button>
      </div>
    </form>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="{{ site.address.map }}" loading="lazy"></iframe>
    </div>
  </div>
{% endblock %}
