---
title: "Disclaimer"
permalink: "/disclaimer/index.html"
---

{% extends 'base.njk' %}

{% block page_header %}
  <h1>
    {{ title | safe }}
  </h1>
  <div class="lede">
    <p>
      The information on this internet site is presented in good faith by San Juan Fire District #3 (“SJF&R”). SJF&R believes the information to be correct, but SJF&R makes no representations or warranties as to the completeness or accuracy of any information on the internet site.
    </p>
  </div>
{% endblock %}

{% block content %}
  {% set baseSections = disclaimer.sections %}
  {% include "sections_block.njk" %}
{% endblock %}
