---
title: "Firewise"
permalink: "/services/firewise/index.html"
---

{% set pageData = firewise %}
{% block sidebar_content %}
  <img src="https://res.cloudinary.com/san-juan-fire-district-3/image/fetch/f_auto,q_auto:good,c_limit,w_1200,h_800/https://sjifire.netlify.app/assets/images/firewise_space.png" loading="lazy" alt="Firewise Spacing">
{% endblock %}
{% extends "default_two_col_page.njk" %}

