---
title: "Smoke and Carbon Monoxide Alarms"
permalink: "/services/fire-alarms/index.html"
---

{% extends 'base.njk' %}

{% block page_header %}
  <h1>
    {{ title | safe }}
  </h1>
  {% if fire_alarms.preamble %}
    <div class="lede">
      {{ fire_alarms.preamble | markdownify | safe }}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="post__copy">
    {{ fire_alarms.body | markdownify | safe }}
  </div>
{% endblock %}
