---
title: "Firewise"
permalink: "/services/firewise/index.html"
---

{% set pageData = firewise %}
{% block sidebar_content %}
  <img src="/assets/images/firewise_space.png" alt="Firewise Defensible Space" title="Firewise Defensible Space">
{% endblock %}
{% extends "default_two_col_page.njk" %}

