---
title: "Governance"
permalink: "/governance/index.html"
---

{% extends 'base.njk' %}

{% block page_header %}
  <h1>
    {{ title | safe }}
  </h1>
  <div class="lede">
    <p>
      San Juan Island Fire and Rescue is governed by San Juan County Fire District 3. The state of Washington chartered San Juan Island Fire Department in May of 1959.
    </p>
  </div>
{% endblock %}

{% block content %}
  {% for section in governance.sections %}
    {% if section.type === 'text' %}
      <div class="post__copy">
        {{ section.copy | markdownify | safe }}
      </div>
    {% elif section.type === 'image' %}
      <figure>
        <img src="{{ 'https://res.cloudinary.com/san-juan-fire-district-3/image/fetch/f_auto,q_auto:good,c_limit,w_1200,h_800/' + site.rootUrl if helpers.env === 'production' }}/assets/images/{{ section.source }}" alt="{{ section.alt }}" width="{{ section.width }}" height="{{ section.height }}" loading="lazy">
        {% if section.caption %}
          <figcaption>
            {{ section.caption }}
          </figcaption>
        {% endif %}
      </figure>
    {% elif section.type === 'youtube' %}
      {% set video_id = section.source.split('/').pop() %}
      <figure>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/{{ video_id }}" loading="lazy"></iframe>
        </div>
        {% if section.caption %}
          <figcaption>
            {{ section.caption }}
          </figcaption>
        {% endif %}
      </figure>
    {% elif section.type === 'gmap' %}
      <figure>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="{{ section.source }}" loading="lazy"></iframe>
        </div>
        {% if section.caption %}
          <figcaption>
            {{ section.caption }}
          </figcaption>
        {% endif %}
      </figure>
    {% endif %}
  {% endfor %}



  <section class="page-section">
    <header>
      <h2 class="special-heading">
        Board Documents
      </h2>
    </header>
    <ul class="document-list">
      <li>
          {% if collections.futureMeetings.length %}
            <h3>Upcoming Meetings</h3>
            <ul class="news-grid">
              {% for meeting in collections.futureMeetings %}
                <li class="news-grid__item">
                  <time class="news__type">
                    {{ meeting.date | postDateTerseISO }}
                  </time>
                  <div class="news__headline">
                    <p>{{ meeting.title }}</p>
                  </div>
                  <ul class="news__list">
                    {% for doc in meeting.documents %}
                      <li>
                        <a href="/assets/docs/{{ doc.filename }}">
                          {{ doc.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <h3>No Upcoming Meetings Scheduled</h3>
          {% endif %}
      </li>
      {% for year, set in collections.pastMeetings | groupby('year') | dictsort | reverse %}
        <li>
          <h3>{{ year }} Meetings</h3>
          <ul class="news-grid">
            {% for meeting in set %}
              <li class="news-grid__item">
                <time class="news__type">
                  {{ meeting.date | postDateTerseISO }}
                </time>
                <div class="news__headline">
                  <p>{{ meeting.title }}</p>
                </div>
                <ul class="news__list">
                  {% for doc in meeting.documents %}
                    <li>
                      <a href="/assets/docs/{{ doc.file }}">
                        {{ doc.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
