---
title: San Juan Island Fire and Rescue
permalink: /
---

{% extends 'base.njk' %}

{% block page_header %}
  <h1>
    {{ title }}
  </h1>
  <div class="lede">
    {{ homepage.preamble | markdownify | safe }}
  </div>
{% endblock %}

{% block content %}

  <section class="page-section">
    <ul class="news-grid">
      <li class="news-grid__item news-grid__item--heading">
        <h2 class="special-heading">
          Latest News
        </h2>
        <a href="/news/">
          Archive
          <svg>
            <use xlink:href="#right_arrow" />
          </svg>
        </a>
      </li>
      {% for post in posts | exclude('Advisory', 'post_type') | reverse | limit(5) %}
        <li class="news-grid__item">
          <a href="/news/{{ post.date | htmlDateStringISO }}-{{ post.title | slugify }}/">
            <div class="news__type">
              {{ post.post_type }}
            </div>
            <h3 class="news__headline">
              {{ post.title | safe }}
            </h3>
            <time datetime="{{ post.date | htmlDateStringISO }}" pubdate="pubdate" class="news__date">
              {{ post.date | postDateTerseISO }}
            </time>
            <div class="news__lede">
              {{ post.lede | markdownify | safe }}
            </div>
            <span class="news__readmore">
              Read more
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}
