---
title: San Juan Island Fire and Rescue
layout: base.njk
permalink: /
---

<h2>
  (Current? Recent?) Advisories
</h2>

<ul>
  {% for post in collections.posts | pluck('advisory', 'post_type') | reverse | limit(2) %}
    <li>
      <a href="/news/{{ post.data.date | htmlDateString }}-{{ post.data.title | slugify }}/">
          {{ post.data.title }}
      </a>
      &nbsp;•&nbsp;
      <time datetime="{{ post.data.date }}" pubdate="pubdate">
        {{ post.data.date | postDateTerse }}
      </time>
    </li>
  {% endfor %}
</ul>

<h2>
  4 Latest Posts (Excluding Advisories)
</h2>

<ul>
  {% for post in collections.posts | skip('advisory', 'post_type') | reverse | limit(4) %}
    <li style="margin-bottom:1.5rem;">
      <a href="/news/{{ post.data.date | htmlDateString }}-{{ post.data.title | slugify }}/">
          {{ post.data.title }}
      </a>
      &nbsp;•&nbsp;
      <time datetime="{{ post.data.date }}" pubdate="pubdate">
        {{ post.data.date | postDateTerse }}
      </time>
      <p style="margin:0.35rem 0 0;">
        {{ post.data.lede }}
      </p>
    </li>
  {% endfor %}
</ul>

