---
title: San Juan Island Fire and Rescue
layout: base.njk
permalink: /
---

<h2>
  (Current? Recent?) Advisories
</h2>

<ul>
  {% for post in posts | pluck('advisory', 'post_type') | reverse | limit(2) %}
    <li>
      <a href="/posts/{{ post.date | htmlDateStringISO }}-{{ post.title | slugify }}/">
          {{ post.title }}
      </a>
      &nbsp;•&nbsp;
      <time datetime="{{ post.date }}" pubdate="pubdate">
        {{ post.date | postDateTerseISO }}
      </time>
    </li>
  {% endfor %}
</ul>

<h2>
  4 Latest Posts (Excluding Advisories)
</h2>

<ul>
  {% for post in posts | pluck('news', 'post_type') | reverse | limit(4) %}
    <li style="margin-bottom:1.5rem;">
      <a href="/posts/{{ post.date | htmlDateStringISO }}-{{ post.title | slugify }}/">
          {{ post.title }}
      </a>
      &nbsp;•&nbsp;
      <time datetime="{{ post.date }}" pubdate="pubdate">
        {{ post.date | postDateTerseISO }}
      </time>
      <p style="margin:0.35rem 0 0;">
        {{ post.lede }}
      </p>
    </li>
  {% endfor %}
</ul>

