---
title: "Key Information"
permalink: "/about/key-information/index.html"
---

{% extends 'base.njk' %}

{% block content %}
  <h1>
    {{ title | safe }}
  </h1>
  {% if key_information.preamble %}
    <div class="lede">
      {{ key_information.preamble | markdownify | safe }}
    </div>
  {% endif %}
  {{ key_information.body | markdownify | safe }}
{% endblock %}
