---
title: "KnoxBox Key Access"
permalink: "/services/knoxbox/index.html"
---

{% extends 'base.njk' %}

{% block page_header %}
  <h1>
    {{ title | safe }}
  </h1>
  <div class="lede">
    {{ knoxbox.preamble | markdownify | safe }}
  </div>
{% endblock %}

{% block content %}
  {% set baseSections = knoxbox.sections %}
  {% include "sections_block.njk" %}
{% endblock %}
