---js
{
  pagination: {
    data: "posts",
    size: 1,
    alias: "post",
    reverse: true
  },
  permalink: "/news/{{ post.date | htmlDateStringISO }}-{{ post.title | slugify }}/index.html",
  eleventyComputed: {
    title: "{{ post.title | safe }}",
    description: "{{ post.lede | safe }}"
  }
}
---

{% extends 'base.njk' %}

{% block content %}

  {% if post.sidebar_template_include %}
    <div class="l-grid l-grid--2col">
      <div class="l-grid__main block-content">
        {{ post.body | markdownify | safe }}
      </div>

      <aside class="l-grid__sidebar">
        {% include post.sidebar_template_include %}
      </aside>
    </div>
  {% else %}
    <article class="l-squeezed block-content">
      {{ post.body | markdownify | safe }}
    </article>
  {% endif %}

  <nav class="l-squeezed pagination">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous | url }}">« Next</a>
    {% else %}
      <span>« Next</span>
    {% endif %}
      <a href="/news/">All</a>
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next | url }}">Prev »</a>
    {% else %}
      <span>Prev »</span>
    {% endif %}
  </nav>
{% endblock %}
