---
title: News & Announcements
pagination:
  data: posts
  size: 24
  alias: post
  reverse: true
permalink: "/news/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

{% extends 'base.njk' %}

{% block content %}
  <section class="">
    <h1>
      {{ title | safe }}
    </h1>
    <div class="lede">
      {{ news.preamble | markdownify | safe }}
    </div>
    <ul class="news-grid">
      {% for post in pagination.items %}
        <li class="news-grid__item">
          <a href="/news/{{ post.date | htmlDateStringISO }}-{{ post.title | slugify }}/">
            <div class="news__type">
              {{ post.post_type }}
            </div>
            <h3 class="news__headline">
              {{ post.title | safe }}
            </h3>
            <time datetime="{{ post.date | htmlDateStringISO }}" pubdate="pubdate" class="news__date">
              {{ post.date | postDateVerboseISO }}
            </time>
            <div class="news__lede">
              {{ post.lede | markdownify | safe }}
            </div>
            <span class="news__readmore">
              Read more
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>

    {% if pagination.href.previous or pagination.href.next %}
      <nav class="pagination">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous | url }}">«</a>
        {% else %}
          <span>«</span>
        {% endif %}
      {%- for pageEntry in pagination.pages %}
        {% if page.url == pagination.hrefs[ loop.index0 ] %}
          <span>{{ loop.index }}</span>
        {% else %}
          <a href="{{ pagination.hrefs[ loop.index0 ] | url }}">{{ loop.index }}</a>
        {% endif %}
      {%- endfor %}
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next | url }}">»</a>
        {% else %}
          <span>»</span>
        {% endif %}
      </nav>
    {% endif %}
  </section>
{% endblock %}
