---
title: "Services"
permalink: "/services/index.html"
---

{% extends 'base.njk' %}

{% block content %}
  <h1>
    {{ title | safe }}
  </h1>
  <div class="lede">
    {{ services.preamble | markdownify | safe }}
  </div>
  {% set baseSections = services.sections %}
  {% include "sections_block.njk" %}
{% endblock %}
