---
title: "Thank You"
permalink: "/thank-you/index.html"
---

{% extends 'base.njk' %}

{% block content %}
  <h1>
    {{ title | safe }}
  </h1>
  <div class="lede">
    {{ thank_you.preamble | markdownify | safe }}
  </div>

  {{ thank_you.copy | markdownify | safe }}
{% endblock %}
