---
title: "Who We Are"
permalink: "/about/who-we-are/index.html"
---

{% set pageData = who_we_are %}

{% block sidebar_content %}
  <img src="{{ who_we_are.featured_image}}" alt="Team Dinner while on shift" title="Team Dinner while on shift">

  <img src="/assets/images/family-break-time.jpg" alt="Family Break Time" title="Family Break Time">

  <img src="/assets/images/Vols-2-edited-1-scaled.jpg" alt="Wildland Fire Drill" title="Wildland Fire Drill">
{% endblock %}
{% extends "default_two_col_page.njk" %}

